<p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
</p>
<p>
    Doloremque vero alias, quo fugit eius harum. In odio, 
</p>
<p>
    perferendis obcaecati enim molestiae doloribus quo 
</p>
<p>
    culpa quasi est odit distinctio, ad autem.
</p>


<script>
// <button id="btnOK">Press</button>
    // $("#btnOK").on("click", e => {
    //     e.preventDefault();
    //     window.location = '/contact-us';
    // });
</script>