<ul>
    <% branches.forEach(function(branch){ %>
    <li>
        <%= branch.address %> -
        <%= branch.id %>
    </li>
    <% }); %>
</ul>
<div class="formWrapper">
    <form id="myForm" class="myForm">
        <div>
            <!-- Title -->
            <div class="title">
                <h2>Add New Branch</h2>
            </div>
            <input required type="text" name="address" id="address" placeholder="Address">
            <input required type="number" name="ID" id="ID" placeholder="ID">
            <input type="checkbox" name="isActive" id="isActive" value="isActive"> isActive <br>

            <!-- SUBMIT -->
            <div class="submit">
                <input type="submit" value="Submit">
            </div>

        </div>
    </form>
</div>
<!-- "isActive":"true",
"address":"Jerusalem",
"id":123 -->
<script>
$(function () {
    $('#myForm').on('submit', function (e) {
      console.log("submitting login");
      var address = document.getElementById("address").value;
      var id = document.getElementById("ID").value;
      var isActive = document.getElementById("isActive").value;
      e.preventDefault();
      fetch('http://localhost:8080/branches', {
        method: 'POST',
        headers: {
                "Content-Type": "application/json"
            },
        body: JSON.stringify(
          {
                address: address,
                id: id,
                isActive: isActive
              }
        )
      })
        .then(function (res) {
            console.log(res);
            alert("list updated!");
            $('#middle-page-container').load('/branches');
        });
    });
  });

</script>