<ul>
    <% branches.forEach(function(branch){ %>
        <li>
            <%= branch.address %>
        </li>
        <% if(branch.isActive) { %>
            <input name='selectAll' type='checkbox' onclick="return false;" checked="checked" />
            <label>Is Active</label>
        <% } else { %>  
            <input name='selectAll' type='checkbox' onclick="return false;" />
            <label>Is NOT Active</label>
        <% } %>  
    <% }); %>
</ul>

<div class="formWrapper">
    <form id="myForm" class="myForm">
        <div>
            <!-- Title -->
            <div class="title">
                <h2>Add New Branch</h2>
            </div>
            <input required type="text" name="address" id="address" placeholder="Address">
            <input type="checkbox" name="isActive" id="isActive" value="isActive"> isActive <br>

            <!-- SUBMIT -->
            <div class="submit">
                <input type="submit" value="Submit">
            </div>

        </div>
    </form>
</div>

<script>
$(function () {
    $('#myForm').on('submit', function (e) {
      e.preventDefault();
      console.log("submitting login");
      var address = document.getElementById("address").value;
      var isActive = false;
      if($("#isActive").is(':checked')){
          isActive = true;
      }
      fetch('http://localhost:8080/branches', {
        method: 'POST',
        headers: {
                "Content-Type": "application/json"
            },
        body: JSON.stringify(
          {
                address,
                isActive
          }
        )
      })
        .then(function (res) {
            console.log(res);
            alert("list updated!");
            $('#middle-page-container').load('/branches');
        });
    });
  });

</script>